<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
	<persistence-unit name="sqldemo" transaction-type="RESOURCE_LOCAL">

		<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

		<properties>
			<property name="hibernate.dialect"
				value="org.hibernate.dialect.H2Dialect"/>
			<property name="hibernate.show_sql" value="true"/>
			<property name="hibernate.connection.url"
				value="jdbc:h2:tcp://localhost/~/sqldemo"/>
			<property name="hibernate.connection.username" value="sa"/>
		</properties>
	</persistence-unit>
</persistence>
